@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
  /* scroll-snap-type: y mandatory; */
}

body {
  margin: 0;
  scroll-behavior: smooth;
  width: 100% !important;
  overflow-x: hidden !important;
  max-width: 100% !important;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #161616;
}
main {
  width: 95vw;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  color: #fff;
}
